.header {
  background-color: #1f1f1f;
  padding: 15px 0;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 5px;

    .menu {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 25px;

  white-space: nowrap;

  a {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #fff;

    @media (max-width: px) {
      font-size: 14px;
    }
  }

  button {
    color: #fff;
    background: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #fff;
      color: #1f1f1f;
    }

    @media (max-width: 480px) {
      padding: 10px 10px;
      font-size: 13px;
    }
  }
}

.top {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.socs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.logo {
  width: 215px;

  @media (max-width: 480px) {
    width: 150px;
  }

  img {
    width: 100%;
    filter: grayscale(100%) brightness(10) contrast(0.7);
  }
}
