:root {
  --accent-color: #005934;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}
h5 {
  font-weight: 600;
  /* font-size: 32px; */
  font-size: clamp(1.375rem, 1.153rem + 0.91vw, 2rem);
  line-height: 1.1;
  color: #231f20;
  margin-bottom: 40px;
}

section {
  padding: 45px 0;
}

/* /รท */
/* 1400 992 768 480 */
