.wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width: 1300px) {
    grid-template-columns: 1fr;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  padding: clamp(1.25rem, 1.028rem + 0.91vw, 1.875rem);
  align-items: center;
  border-radius: 40px;
  background-color: #fff;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  img {
    width: 100%;
    border-radius: 30px;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: fill;
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 18px;

  h3 {
    font-size: clamp(16px, 1.5vw, 18px);
    font-weight: 500;
    line-height: 1.1;
  }

  p {
    font-size: clamp(11px, 1.5vw, 11px);
    color: #5c5c5c;
    line-height: 1.5;
  }
}

.box_bottom {
  margin-top: auto;

  padding-top: 20px;
  display: flex;

  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;

  b {
    font-weight: 600;
    font-size: clamp(16px, 1.5vw, 18px);
    white-space: nowrap;
  }

  button {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s, background-color 0.3s;
    &:hover {
      background-color: #fff;
      color: var(--accent-color);
    }
  }
}
